---
import { getCollection } from "astro:content";
import Card from "../components/CardPost.astro";
import Layout from "../layouts/Layout.astro";

// Fetch all posts from the collection
const allPosts = await getCollection("posts");

// Filter out posts in the "portswigger" folder so they don't appear in the list of cards
const filteredPosts = allPosts.filter(post => !post.slug.startsWith('portswigger/'));

const pageTitle = "Portfolio | Posts";
---

<Layout pageTitle={pageTitle}>
    <style>
        :root {
            --background: #39293d !important;
            --background-light: #f5e6f0 !important;
            --button: #9e7a9e !important;
            --text: #f5e6f0 !important;
            --text-light: #39293d !important;
            --text-link: #b38cb6 !important;
            --underline: #704e72 !important;
            --header: "Indie Flower", cursive !important;
            --body: "Josefin Sans", sans-serif !important;
        }
    </style>

    <div class="gif">
        <img width="300" height="259" alt="RaccoonNotesGif" src="/doguri/blog.webp" />
    </div>

    <h2>Blog</h2>

    <!-- Render cards for all posts except the ones in "portswigger/" -->
    <ul role="list" class="link-card-grid">
        {
            filteredPosts.map((cardPost) => (
                <Card
                    url={`/posts/${cardPost.slug}/`} 
                    image={cardPost.data.image.url}
                    title={cardPost.data.title}
                    date={cardPost.data.date}
                />
            ))
        }
    </ul>
</Layout>
